// FONTS
//Passion One
@import url('https://fonts.googleapis.com/css?family=Passion+One:400,700');
$passion: 'Passion One', helvetica, arial;
$font-stack-system: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;

// Breakpoints
$small-screen: 480px;
$medium-screen: 768px;
$large-screen: 1100px;

$xs-max: $small-screen - 1;
$small-max: $medium-screen - 1;
$medium-max: $large-screen - 1;

// Typography
$base-font-family: $font-stack-system;
$heading-font-family: $passion;

// Font Sizes
$base-font-size: 17px;

// Line height
$base-line-height: 1.25;
$heading-line-height: .85;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$blue: #21759b;
$orange: #d54e21;
$dark-gray: #444;
$gray: $dark-gray;
$medium-gray: lighten($dark-gray,33);
$light-gray: lighten($dark-gray,66);
$gray: #5d5d5d;

//gobble gallop colors

$burnt-orange: #c74b16;
$orange: #fd8d0d;
$yellow: #c3bb1b;
$logo-gray: #0f333c;
// Font Colors
$base-font-color: $logo-gray;
$action-color: $yellow;

// Border
$base-border-color: rgba($dark-gray,.125);
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: #fff;
$secondary-background-color: tint($base-border-color, 75%);

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Animations
$base-duration: 120ms;
$base-timing: ease-out;

$fast: $base-duration $base-timing;
$slow: $base-duration * 2 $base-timing;

$opac: .75;

//TAILOR OVERRIDES

//Media Queries
$xs: "(max-width: $xs-max)" !default;
$mobile: "(max-width: $small-max)" !default;
$tablet: "(max-width: $medium-max)" !default;
$tablet-up: "(min-width: $medium-screen)" !default;
$desktop: "(min-width: $large-screen)" !default;

$global-spacing-vertical: $base-spacing !default;
$global-spacing-horizontal: $base-spacing !default;
$global-transition-duration: $base-duration !default;

$global-primary-color: #0f95ee !default;
$global-secondary-color: #a0a5aa !default;
$global-text-color: #404040 !default;

$global-border-color: $base-border-color !default;
$global-border-radius: $base-border-radius !default;
$global-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(0, 0, 0, 0.05) !default;
